!!! 5
%html{html_attrs("en"), xmlns}
  %head
    %meta{'http-equiv' => "Content-Type", :content => "text/html; charset=utf-8"}
    %meta{:name => "viewport", :content => "width=device-width"}

    %meta{:property => "og:image:url", :content => "http://gravatar.com/avatar/fcd3a40babe606ef30cb342a6a74c54c.png"}
    %meta{:property => "og:image:secure_url", :content => "https://secure.gravatar.com/avatar/fcd3a40babe606ef30cb342a6a74c54c.png"}
    %meta{:property => "dc:creator", :content => "Zachary Voase"}
    %meta{:property => "dc:rights",  :content => "Public Domain"}
    %meta{:property => "twitter:card", :content => "summary"}
    %meta{:property => "twitter:site", :content => "@zackwurst"}
    %meta{:property => "twitter:domain", :content => "zacharyvoase.com"}

    - if item[:kind] == "index"
      %meta{:name => "description", :content => "The Blog of Zachary Voase, brought to you in glorious HyperText."}
      %link{:rel => "alternate", :type => "application/rss+xml", :title => "Zack’s Blog", :href => "/rss.rdf"}
      %link{:rel => "alternate", :type => "application/rdf+xml", :title => "Zack’s Blog", :href => "/rss.rdf"}

      %link{     :rev => "foaf:weblog",   :href => "http://zacharyvoase.com/"}

      %link{     :rel => "rdf:type",      :href => "rss:channel"}
      %meta{:property => "dc:date",    :content => sorted_articles.last[:created_at].to_s}
      %meta{:property => "rss:title",  :content => "Zack’s Blog"}
      %link{     :rel => "rss:link",      :href => "http://zacharyvoase.com/"}
      %link{     :rel => "rss:items",     :href => "http://zacharyvoase.com/#articles"}

      %meta{:property => "twitter:title",  :content => "Zack’s Blog"}
      %meta{:property => "twitter:url",  :content => "http://zacharyvoase.com/"}
      %meta{:property => "twitter:description",  :content => "The Blog of Zachary Voase, brought to you in glorious HyperText."}

      %meta{:property => "sy:updatePeriod",    :content => "daily"}
      %meta{:property => "sy:updateFrequency", :content => "1"}
      %meta{:property => "sy:updateBase",      :content => "2010-05-08T12:00+00:00"}

    - elsif item[:kind] == "article"
      %link{:rel =>      "rdf:type",      :href => "rss:item"}
      %meta{:name => "description", :content => description_of(@item)}
      %meta{:property => "dc:date",    :content => @item[:created_at].to_s, :datatype => "xs:date"}
      %meta{:property => "rss:title",  :content => title_of(@item)}
      %meta{:property => "twitter:creator", :content => "@zackwurst"}
      %meta{:property => "twitter:url", :content => url_for(@item)}
      %meta{:property => "twitter:title", :content => title_of(@item)}
      %meta{:property => "twitter:description", :content => description_of(@item)}
      %link{:rel =>      "rss:link",   :content => rel_url_for(@item)}

    %link{:rel => "stylesheet", :href => "/media/css/style.css", :media => "screen, projection"}

    %script{:type => "text/javascript", :src => "//use.typekit.net/jfx6whv.js"}
    %script{:type => "text/javascript"}
      :plain
        try{Typekit.load()}catch(e){}
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-9915287-1']);
        _gaq.push(['_trackPageview']);
        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ga);
        })();

    - if item[:kind] == "index"
      %title Zack’s Blog
    - else
      %title
        = title_of(@item)
        | Zack’s Blog

  %body{:id => @item[:id]}
    %div#header-container
      %div#header
        - if item[:kind] == "index"
          %h1{:property => "rss:description", :datatype => ""}<
            %span.prefix The Blog of
            Zachary Voase
        - else
          %h1<
            %a{:href => "/"}<
              %span.prefix The Blog of
              Zachary Voase

    = render('_about')
    = render('_spacer')

    - if @item[:kind] == 'article'
      = render('_article', :item => @item, :content => content)
    - elsif @item[:kind] == 'page'
      = render('_page', :item => @item, :content => content)
    - else
      = content

    %div#footer-container
      %div#footer
        - if item[:kind] == "article"
          %p.share-buttons
            = render('_tweet', :item => @item)
        %p.licensing
          All content on this site is released into the
          <a rel="license" href="http://creativecommons.org/publicdomain/zero/1.0/">Public Domain</a>.
